<div class="entry-edit">


<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo$this->__('Stock Movements List')?></h3></td>
        </tr>
    </table>
</div>
<div>
    <form method="post">
        <input type="hidden" name="form_key" value="<?php echo (Mage::getSingleton('core/session')->getFormKey()) ?>">
    <table>
    <th width="200" align="right"><?php echo $this->__('From :'); ?>
        <input style="width: 130px; padding: 10px" size="8" type="text" id="from2" name="from2" value="<?php echo (Mage::getSingleton('core/session')->getFromDate())?Mage::getSingleton('core/session')->getFromDate():date('Y-m-d'); ?>">

        <script type="text/javascript">
            jQuery('#from2').datetimepicker({
                mask:'9999/19/39 29:59:59',
                format:'Y-m-d H:i:s'
            });
        </script>
    </th>
        <th width="200" align="right"><?php echo $this->__('To :'); ?>
            <input style="width: 130px; padding: 10px"  size="8" type="text" id="to2" name="to2" value="<?php echo (Mage::getSingleton('core/session')->getToDate())?Mage::getSingleton('core/session')->getToDate():date('Y-m-d'); ?>">
            <script type="text/javascript">

                jQuery('#to2').datetimepicker({
                    mask:'9999/19/39 29:59:59',
                    format:'Y-m-d H:i:s'
                });
            </script>
        </th>
        <th width="200" align="right">
            <input type="submit" value="Submit">
        </th>
    </table>
    </form>
    <?php if(Mage::getSingleton('core/session')->getFromDate()&&Mage::getSingleton('core/session')->getToDate()){ ?>
        <strong>Stock level report From <?php echo Mage::getSingleton('core/session')->getFromDate() ?> to <?php echo Mage::getSingleton('core/session')->getToDate() ?></strong>
    <?php } ?>
</div>
<?php
echo $this->getGridParentHtml() ?>

</div>