.sliderwrapper{
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
border: 0px solid navy;
border-bottom-width: 0px;
text-align:center;
}

.sliderwrapper .contentdiv{
visibility: hidden; /*leave as is*/
position: absolute; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding: 0px;
background: white;
height: 100%;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
}

.pagination {
text-align: right;
background-color: #bfbfbf;
padding: 5px 6px;
border-right: thin solid #8A8A8A
}

.pagination a{
padding: 0 8px;
text-decoration: none; 
color: #000000;
background: white;
}

.pagination a:hover, .pagination a.selected{
color: #ffffff;
background-color: #e20a17;
}

.pagination-new { clear:both; width:auto; padding-top: 3px; text-align:center; }
.pagination-new a, .pagination-new a:hover, .pagination-new a:visited { font-size:12px; font-weight:bolder; color:#9e9e9e;  text-decoration: none; margin: 0 2px; padding: 3px 5px;  }
.pagination-new a.activeSlide { color:#ff1a00; }
.pagination-new a:focus { outline: none; }

