/**
 * @category    Mana
 * @package     ManaPro_FilterCheckboxes
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked { color: #000;
    border: 1px solid #ccc;
    padding: 2px 15px !important;
    text-align: center;
    display: block;
    font-size: 12px;
    font-weight: bold;
  }
ol.m-filter-css-checkboxes li a.m-checkbox-checked { background: #000;
    padding: 0 12px !important;
    border: 1px solid #ccc;  min-width: 60px;
    display: block;
    line-height: 22px;
    color: #fff;
    text-align: center; }
ol.m-filter-css-checkboxes li:hover  { background: #000; }
ol.m-filter-css-checkboxes li:hover a  { color: #fff; }
ol.m-filter-css-checkboxes li a.m-checkbox-checked:hover { background: #fff; color: #000; }
ol.m-filter-css-checkboxes li a.m-checkbox-unchecked,
ol.m-filter-css-checkboxes li a.m-checkbox-checked { padding-left: 20px; text-decoration: none; }

.m-filter-checkboxes li input { margin-right: 5px; position: relative; bottom: 2px; }