

/* General Demo Style */

a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
h1, h5{
	margin:15px;
	font-size:44px;
	color:#000;
	font-family: 'Rochester', sans-serif;
	text-shadow:1px 1px 1px #fff;
}
h1 span, h5{
	font-size:20px;
	display:block;
	color:#60817a;
}
/* Header Style */
.header{
	height:25px;
	line-height:24px;
	font-size:13px;
	background:#000;
	opacity:0.9;
	text-transform:uppercase;
	z-index:4;
}
.header a{
	padding:5px 10px;
	letter-spacing:1px;
	text-shadow:1px 1px 1px #000;
	color:#ddd;
	text-align:right;
}
.header a:hover{
	color:#fff;
}
.header a span{
	font-weight:bold;
}
.header span.right_ab{
	position:absolute;
	right:4px;
}
.container{width:960px;}
/* Circular Content Carousel Style */
.ca-container{
    position:relative;
    margin:5px auto 0px auto;
    width:909px;
    height:390px;
}
.ca-wrapper{
    width:100%; text-align: center;
    height:100%;
    position:relative;
    margin-left: -2px;
}
.ca-item{
    position:relative;
    float:left;
    width: 200px;
    height:100%;

}
.ca-more{
    position: absolute;
    bottom: 10px;
    right:0px;
    padding:4px 15px;
    font-weight:bold;
    background: #ccbda2;
    color: white;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
    text-shadow:1px 1px 1px #897c63;
}
.ca-close{
    position:absolute;
    top:10px;
    right:10px;
    width:27px;
    height:27px;
    text-indent:-9000px;
    outline:none;
    -moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    box-shadow:1px 1px 2px rgba(0,0,0,0.2);
    opacity:0.7;
}
.ca-close:hover{
    opacity:1.0;
}
.ca-item-main{
    padding-top:5px;
    position:absolute;
    top:5px;
    left:1px;
    right:5px;
    bottom:5px;
    background:#fff;
    overflow:hidden;

}
.ca-icon{
    width:2150px;
    position:relative;
    margin:0 -24px;
}
.ca-content-wrapper{
    background:#b0ccc6;
    position:absolute;
    width:0px; /* expands to width of the wrapper minus 1 element */
    height:440px;
    top:5px;
    text-align:left;
    z-index:10000;
    overflow:hidden;
}
.ca-content{
    width:660px;
    overflow:hidden;
}
.ca-content-text{
    font-size: 14px;
    font-style: italic;
    font-family: "Georgia","Times New Roman",serif;
    margin:10px 20px;
    padding:10px 20px;
    line-height:24px;
}
.ca-content-text p{
    padding-bottom:5px;
}
.ca-content h6{
    margin:25px 20px 0px 35px;
    font-size:32px;
    padding-bottom:5px;
    color:#000;
    font-family: 'Coustard', sans-serif;
    color:#60817a;
    text-shadow: 1px 1px 1px #99BCB4;
}
.ca-content ul{
    margin:20px 35px;
    height:30px;
}
.ca-content ul li{
    float:left;
    margin:0px 2px;
}
.ca-content ul li a{
    color:#fff;
    background:#000;
    padding:3px 6px;
    font-size:14px;
    font-family: "Georgia","Times New Roman",serif;
    font-style:italic;
}
.ca-content ul li a:hover{
    background:#fff;
    color:#000;
    text-shadow:none;
}
.ca-nav span{
    width:25px;
    height:38px;
    background:transparent url(../images/arrows.png) no-repeat top left;
    position:absolute;
    top:50%;
    margin-top:-76px;
    left:-28px;
    text-indent:-9000px;
    opacity:0.7;
    cursor:pointer;
    z-index:100;
}
.ca-nav span.ca-nav-next{
    background-position:top right;
    left:auto;
    right:-28px;
}
.ca-nav span:hover{
    opacity:1.0;
}
.border-name{
    height: 49px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dotted  #cccccc ;
    color: #000000;
}
.ca-item-main p a {color: black}
.ca-item-main p a:hover {color: #3399cc;text-decoration:none}