<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">
            Product Info
        </h4>
    </div>
    <fieldset>
        <div class="">
            <?php if($this->canShow()): ?>
            <?php $_product = $this->getProduct() ?>
            <div class="a-center">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(255); ?>" alt="<?php echo $_product->getProduct()?>">
            </div>
            <div>
                <h4><?php echo $_product->getName()?></h4>
                <p><strong>Sku: </strong> <?php echo $_product->getSku()?></p>
                <p class="description"><?php echo $_product->getShortDescription()?></p>
            </div>
            <?php else: ?>
            <p class="a-center">No product</p>
            <?php endif ?>
        </div>
    </fieldset>
</div>