<div class="entry-edit-head">
	<h4 class="icon-head head-edit-form fieldset-legend">
		Address
	</h4>
</div>
<fieldset>
	<?php echo $this->getForm()->toHtml() ?>
	<script>
		Pos.Order.bindAddressFields();
	</script>
</fieldset>