<div class="entry-edit-head">
	<h4 class="icon-head head-edit-form fieldset-legend">Customer</h4>
</div>
<fieldset>
    <?php //Don't allow change customer when order is restored?>
    <?php $disableChangeCustomer = $this->isRestoredOrder() ? 'disabled="disabled"' : '';?>
	<ul class="pos-select-customer">
		<li>
			<input type="radio" name="customer[mode]" <?php echo $disableChangeCustomer?> id="customer_mode_guest" value="guest" onclick="Pos.Order.setCustomerMode('guest');" <?php if($this->isModeActive('guest')):?>checked="checked"<?php endif?>>
			<label for="customer_mode_guest">
				Guest
			</label>
		</li>
		<li>
			<input type="radio" name="customer[mode]" <?php echo $disableChangeCustomer?> id="customer_mode_new" value="new" onclick="Pos.Order.setCustomerMode('new');" <?php if($this->isModeActive('new')):?>checked="checked"<?php endif?>>
			<label for="customer_mode_new">
				New Member
			</label>
		</li>
		<li>
			<input type="radio" name="customer[mode]" <?php echo $disableChangeCustomer?> id="customer_mode_existing" value="existing" onclick="Pos.Order.setCustomerMode('existing');" <?php if($this->isModeActive('exist')):?>checked="checked"<?php endif?>>
			<label for="customer_mode_existing">
				Existing Member
			</label>
		</li>
	</ul>
	<div class="clear"></div>
	<div id="div_cust_new" <?php if(!$this->isModeActive('new')):?>style="display: none;"<?php endif?>>
		<table>
			<tbody>
				<tr>
					<td><?php echo $this->getChildHtml('form_account');?></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="div_cust_existing" <?php if(!$this->isModeActive('exist')):?>style="display: none;"<?php endif?>>
		<?php echo $this->getChildHtml('customer_grid');?>
	</div>
</fieldset>
<div class="entry-edit-head">
	<h4 class="icon-head head-edit-form fieldset-legend">Newsletter subscription</h4>
</div>
<fieldset>
	<table id="pos-newsletter">
		<tbody>
			<tr>
				<td>
					<input type="checkbox" id="newsletter" checked="checked" name="newsletter" disabled="">
				</td>
				<td>
					<label for="newsletter">Subscribe to newsletter</label>
				</td>
			</tr>
		</tbody>
	</table>
</fieldset>
<script>
	jQuery(document).ready(function(){
		jQuery('#firstname').keyup(function(){
				jQuery('#order-billing_address_firstname').val(jQuery(this).val());
			});
		jQuery('#lastname').keyup(function(){
			jQuery('#order-billing_address_lastname').val(jQuery(this).val());
		});
	});
</script>