<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div class="product-image product-image-zoom overflowclear">
    <div class="float_left">

        <?php if (count($this->getGalleryImages()) > 0): ?>
            <div class="more-views">

                <ul class="product-image-thumbs">
                    <?php $i=0; foreach ($this->getGalleryImages() as $_image): ?>
                        <?php
                        if (($filterClass = $this->getGalleryFilterHelper()) && ($filterMethod = $this->getGalleryFilterMethod()) && !Mage::helper($filterClass)->$filterMethod($_product, $_image)):
                            continue;
                        endif;
                        ?>
                        <li>
                            <a class="thumb-link" href="#" title="<?php echo $this->escapeHtml($_image->getLabel()) ?>" data-image-index="<?php echo $i; ?>">
                                <img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(100,150); ?>"
                                     width="100" height="150" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" />
                            </a>
                        </li>
                        <?php $i++; endforeach; ?>
                </ul>
            </div>
        <?php endif; ?>

    </div>
    <div class="product-image-gallery float_right">
        <img id="image-main"
             class="gallery-image visible"
             src="<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>"
             alt="<?php echo $this->escapeHtml($this->getImageLabel()) ?>"
             title="<?php echo $this->escapeHtml($this->getImageLabel()); ?>" width="330" height="495" />

        <?php
            $i=0;
            foreach ($this->getGalleryImages() as $_image):
                $_imageUrl = $this->helper('catalog/image')
                                  ->init($_product, 'image', $_image->getFile())
                                  ->keepFrame(false)
                                  ->constrainOnly(true)
                                  ->resize(330,495);
        ?>
            <img id="image-<?php echo $i; ?>"
                 class="gallery-image"
                 src="<?php echo $_imageUrl; ?>"
                 data-zoom-image="<?php echo  $_imageUrl; ?>" />
        <?php
            $i++;
            endforeach;
        ?>
    </div>
</div>


<?php echo $this->getChildHtml('after'); ?>
