<?php
/**
 * Magemallow
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Magemallow
 * @package     Magemallow_BetterProductSorter
 * @copyright   Copyright (c) 2014 KOMMA-D (http://www.komma-d.de)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>

<?php
$collection = $this->prepareCollection();
$pages = 1;
$productsPerPage = $this->getConfigData('per_page');
$totalPages = ceil($collection->count() / $this->getConfigData('per_page'));
$rowsPerPage = ceil($this->getConfigData('per_page') / $this->getConfigData('per_row'));
$imageSize = $this->getConfigData('image_size');
?>

<div id="betterproductsorter_holder">
    <?php if ($collection && $collection->count()): ?>
        <h4><?php echo $this->__('Drag and drop to sort products. If you want to select multiple products at once hold down Shift.') ?></h4>
        <div class="page-wrapper left">
            <p><strong><?php echo $this->__('Page %s', $pages) ?></strong></p>
            <ul class="sortable ui-sortable">
                <?php $i = 0; ?>
                <?php foreach ($collection as $product): ?>
                    <li class="ui-state-default" id="product_<?php echo $product->getId() ?>">
                        <img src="<?php echo $this->getImageUrl($product) ?>" title="<?php echo $this->getTitle($product) ?>"<?php echo $this->getNotAvailableClass($product) ?>>
                    </li>
                    <?php $i++; ?>
                    <?php if ($i == $productsPerPage && $pages < $totalPages): ?>
                        <?php $pages++; ?>
                        </ul>
                        </div>
                        <div class="page-wrapper left">
                            <p><strong><?php echo $this->__('Page %s', $pages) ?></strong></p>
                            <ul class="sortable ui-sortable">
                            <?php $i = 0; ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php else: ?>
        <h4><?php echo $this->__('No sortable products found.') ?></h4>
    <?php endif; ?>
</div>

<script type="text/javascript">
//<![CDATA[
    (function($) {
        var $sortColumns = jQuery('.sortable');
        var $allowed_max = <?php echo $productsPerPage ?>;
        var $max_iteration = 100;
        var $filter = ':not(.ui-sortable-placeholder, .ui-sortable-helper)';

        function setSort() {
            var $sorted = jQuery('.sortable li').sortable('toArray');
            var $result = new Array();
            var $result_text = '';

            $all_added = Array();
            jQuery('#in_category_products').val().split('&').each(function(el, i) {
                $all_added.push(el.split('=')[0])
            });

            $sorted.each(function(index, el) {
                replaced_id = el.id.replace('product_', '');
                $result[replaced_id] = index;
            });

            for (i in $result) {
                if (!isNaN(i)) {
                    $result_text += i + '=' + ($result[i] + 1) + '&';
                    $all_added.splice($all_added.indexOf(i), 1);
                }
            }
            for (ii in $all_added) {
                if (!isNaN(ii)) {
                    $result_text += $all_added[ii] + '=0&';
                }
            }
            $result_text = $result_text.slice(0, $result_text.length - 1);
            jQuery('#in_category_products').val($result_text);
        }

        $sortColumns.multisortable({
            cursor: 'move',
            opacity: 0.5,
            placeholder: 'ui-state-highlight',
            connectWith: '.sortable',
            distance: 50,
            stop: function(e, ui) {
                var $group = jQuery('.ui-multisort-grouped').not(ui.item);
                $group.clone().insertAfter(jQuery(ui.item));
                $group.each(function() {
                    jQuery(this).removeClass('ui-multisort-grouped');
                });
                $group.remove();
                $sortColumns.disableSelection();

                $sortColumns.each(function(i, $page) {
                    var $pageItems = jQuery($page).children($filter);
                    $i6 = 0;
                    $i7 = 1;
                    while ($pageItems.length !== $allowed_max) {
                        if ($pageItems.length > $allowed_max) {
                            $sortColumns.eq(i + $i7).prepend($pageItems.last());
                        }
                        if ($pageItems.length < $allowed_max) {
                            if ($sortColumns.eq(i + $i7).children($filter).length == 0) {
                                $i7++;
                            } else {
                                $i7 = 1;
                            }
                            $sortColumns.eq(i + $i7).children($filter).first().appendTo($page);
                        }
                        $i6++;
                        if ($i6 > $max_iteration) {
                            break;
                        }
                        var $pageItems = jQuery($page).children($filter);
                    }
                });

                setSort();
                jQuery('.ui-multisort-grouped').each(function() {
                    jQuery(this).removeClass('ui-multisort-grouped');
                });
            }
        });
        <?php if ($this->getConfigData('show_products_data')): ?>
            jQuery('#betterproductsorter_holder img[title]').tooltip({
                position: 'top right',
                effect: 'slide',
                offset: [10, 0],
                events: {
                    def: 'mouseenter mouseup,mouseleave mousedown'
                }
            }).dynamic({
                right: {
                    bounce: true
                }
            });
        <?php endif; ?>
    })(jQuery);
//]]>
</script>

<style type="text/css">
    .sortable {
        height: <?php echo ($imageSize + 13) * $rowsPerPage ?>px;
        width: <?php echo ($imageSize + 10) * $this->getConfigData('per_row') ?>px;
    }

    .sortable > li {
        height: <?php echo $imageSize + 5 ?>px;
        width: <?php echo $imageSize + 5 ?>px;
    }

    .sortable > li > img {
        height: <?php echo $imageSize ?>px;
        width: <?php echo $imageSize ?>px;
    }
</style>
