#betterproductsorter_holder {
    overflow: auto;
}

.page-wrapper {
    margin: 5px 0;
}

.sortable {
    background: #fff;
    border-right: 4px solid #ccc;
    float: left;
    list-style-type: none;
    margin-right: 10px;
    padding: 0 8px 0 0;
    overflow: hidden;
}

.sortable > li {
    float: left;
    font-size: 1em;
    margin: 3px 3px 3px 0;
    padding: 1px;
    text-align: center;
}

.sortable > li > img {
    border: 1px solid #ccc;
    cursor: move;
    padding: 1px;
}

.sortable > li > img.notavailable {
    border: 1px solid red !important;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.ui-multisort-grouped > img {
    border: 2px solid #d75f07 !important;
    padding: 0 !important;
}

.ui-state-highlight {
    border: 1px solid #ccc;
    padding: 0 !important;
}

.tooltip {
    background: #e7efef;
    border: 1px solid #cddddd;
    max-width: 500px;
    min-width: 200px;
    padding: 3px;
}
