<div class="footer-container">
    <div class="footer">
        <ul class="footer_links overflowclear">
            <li><a href="<?php echo $this->getUrl('faq') ?>">Faq </a></li>
            <li>|</li>
            <li><a href="<?php echo $this->getUrl('store_locator') ?>">Store locator </a></li>
            <li>|</li>
            <li><a href="<?php echo $this->getUrl('size_chart') ?>">Size chart </a></li>
            <li>|</li>
            <li><a href="https://www.facebook.com/MDSCollections">Facebook </a></li>
            <li>|</li>
            <li><a href="https://instagram.com/mdscollections/">Instagram </a></li>
            <li>|</li>
            <li><a href="<?php echo $this->getUrl('faq2') ?>"> Franchise</a></li>
        </ul>
        <div class="footer_subcribe">
            <?php echo $this->getChildHtml('newsletter');
            ?>
        </div>
        <!--<div class="company_info overflowclear">
            <div class="float_left">Copyright © Forever MDS COLLECTIONS. All Rights Reserved. Powered by GentoTech</div>
            <div class="float_right">
                <ul class="overflowclear">
                    <li><a href=""><img src="<?php /*echo $this->getSkinUrl('images/socialicon_01.jpg') */?>" alt=""/></a></li>
                    <li><a href=""><img src="<?php /*echo $this->getSkinUrl('images/socialicon_02.jpg') */?>" alt=""/></a></li>
                    <li><a href=""><img src="<?php /*echo $this->getSkinUrl('images/socialicon_03.jpg') */?>" alt=""/></a></li>
                    <li><a href=""><img src="<?php /*echo $this->getSkinUrl('images/socialicon_04.jpg') */?>" alt=""/></a></li>
                    <li><a href=""><img src="<?php /*echo $this->getSkinUrl('images/logo_footer.jpg') */?>" alt=""/></a></li>
                </ul>
            </div>

        </div>-->
    </div>
</div>
