<div class="header-language-background">
    <div class="header-language-container">
        <div class="float_left">
        <p class="welcome-msg"><?php echo $this->getChildHtml('welcome') ?> <?php echo $this->getAdditionalHtml() ?></p>
        <div class="store-language-container">
            <?php //echo $this->getChildHtml('store_language') ?>
            <img src="<?php echo $this->getSkinUrl('images/flag_singapore.png') ?>" alt="img" />
        </div>
        <?php echo $this->getChildHtml('currency_switcher') ?>
        </div>

        <div id="header-search" class="skip-content">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>
        <a class="logo" href="<?php echo $this->getUrl('') ?>">
            <img src="<?php echo $this->getLogoSrc() ?>" alt="<?php echo $this->getLogoAlt() ?>" class="large" />

        </a>
    </div>
</div>

<header id="header" class="page-header">
    <div class="page-header-container">



        <div class="store-language-container"></div>

        <!-- Skip Links -->



        <!-- Navigation -->
<div class="wrap_top_menu">

    <div class="skip-links">
        <a href="#header-nav" class="skip-link skip-nav">
            <span class="icon"></span>
            <span class="label"><?php echo $this->__('Menu'); ?></span>
        </a>

        <a id="search-nav" href="#header-search1" class="skip-link skip-search">
            <span class="icon"></span>
            <span class="label"><?php echo $this->__('Search'); ?></span>
        </a>

        <a class="skip-link-new"
           href="<?php echo $this->getUrl('store_locator'); ?>">

           <?php echo $this->__('STORES'); ?>
        </a>


        <a href="#header-account" class="skip-link skip-account">
            <span class="icon"></span>
            <span class="label"><?php echo $this->__('Account'); ?></span>
        </a>

        <!-- Cart -->

        <div class="header-minicart">
            <?php echo $this->getChildHtml('minicart_head'); ?>
        </div>




    </div>

</div>
        <div id="header-nav" class="skip-content">
            <?php echo $this->getChildHtml('topMenu') ?>

        </div>
<!--        <div id="anhoi" style="margin-top: 5px;font-weight: bold;">|</div>-->



        <!--<div class="top_title">
            <ul class="overflowclear auto_margin">
                <a href="<?php /*echo $this->getUrl('new-sale-items-added-up-to-50-off.html') */?>"><li class="item">New sale items added up to 50% off</li></a>
                <li class="symbol">|</li>
                <a href="<?php /*echo $this->getUrl('shop-new.html') */?>"><li class="item2">$15off$80 <br/> enter $15off80mds</li></a>
                <li class="symbol">|</li>
                <a href="<?php /*echo $this->getUrl('shop-new.html') */?>"><li class="item3">Free local normal delivery</li></a>
                <li class="symbol">|</li>
                <a href="<?php /*echo $this->getUrl('shop-new.html') */?>"><li class="item4 no_margin">Free overseas shipping > SGD60</li></a>
            </ul>
        </div>-->
        <!-- Search -->
        <div id="header-search1" class="skip-content">
            <?php echo $this->getChildHtml('topSearch') ?>
        </div>

        <!-- Account -->
        <div id="header-account" class="skip-content">
            <?php echo $this->getChildHtml('topLinks') ?>
        </div>

        <!-- Cart -->

        <div id="header-cart" class="skip-content">
            <div class="mini-cart">
                <div class="menu-wrapper">
                    <div class="menu cart-menu">
                        <div class="empty">Your cart is empty.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('top_title_banner_home')->toHtml() ?>


</header>


<?php echo $this->getChildHtml('topContainer'); ?>
<script type="text/javascript">
    jQuery("#search-nav").click(function(){
        jQuery("#header-search1").toggle();
    });
</script>