<?php $collection = $this->_getCollection(); ?>

<?php if (count($collection) > 0) : ?>
    <ul>
        <?php foreach ($collection as $item) : ?>
                <?php $_imageList = $item->getImageList(); ?>
                <?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
                <?php $i=0;?>
                    <?php foreach ($_imageList as &$_item) : ?>
                        <?php if($i==0):?>
                            <li>
                                <a href="<?php echo $_item['label'];?>"><img src="<?php echo $this->helper('gtbanner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE) ?>" /></a>
                            </li>
                        <?php endif;?>
                        <?php $i++; ?>
                    <?php endforeach; ?>
                <?php endif; ?>
        <?php endforeach; ?>
        <!--</article>-->
    </ul>
<!--<article class="main-home-1">-->
<ul class="bxslider"   >
	<?php foreach ($collection as $item) : ?>
        <?php //var_dump($item);?>
		<?php $_imageList = $item->getImageList(); ?>
		<?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
			<?php foreach ($_imageList as &$_item) : ?>
			<li>
                <a href="<?php echo $_item['label'];?>"><img src="<?php echo $this->helper('gtbanner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE) ?>" /></a>
			</li>
			<?php endforeach; ?>
		<?php endif; ?>
	<?php endforeach; ?>
<!--</article>-->
</ul>
    <ul>
        <?php foreach ($collection as $item) : ?>
            <?php $_imageList = $item->getImageList(); ?>
            <?php if (is_array($_imageList) and sizeof($_imageList) > 0) : ?>
                <?php $i=0;
                $count = count($_imageList)-1;?>
                <?php foreach ($_imageList as &$_item) : ?>
                    <?php if($i==$count):?>
                        <li>
                            <a href="<?php echo $_item['label'];?>"><img src="<?php echo $this->helper('gtbanner/image')->init($_item['file'])->constrainOnly(TRUE)->keepAspectRatio(FALSE)->keepFrame(TRUE) ?>" /></a>
                        </li>
                    <?php endif;?>
                    <?php $i++; ?>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <!--</article>-->
    </ul>

    <script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery('.main-home-1').cycle({
			fx: 'fade'
		});
	}); 
</script>
<?php endif; ?>