<?php $_shippingRateGroups = $this->getShippingRates();?>
<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Shipping Method')?></h4>
	</div>
	<fieldset>
		<center>
			<div id="div_shipping_methods">
				<?php if ($_shippingRateGroups): ?>
					<?php foreach ($_shippingRateGroups as $code => $_rates): ?>
						<?php foreach ($_rates as $_rate): ?>
							<?php $_code = $_rate->getCode() ?>
							<?php if($_code != 'flatrate_flatrate') continue; ?>
							<div class="span_shipping_method_label <?php if($_rate == $this->getActiveMethodRate() ):?>shipping_method_selected<?php endif;?>" id="method_<?php echo $_code ?>" onclick="Pos.Order.selectShipping('<?php echo $_code?>')">
								<span class="label">
									<?php echo $this->escapeHtml($this->getCarrierName($_rate->getCarrier())) ?> <em>-</em>
								<span>
								<span class="price">
									<?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
									<?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>

									<?php echo $_excl; ?>
									<?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
										(<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
									<?php endif; ?>
								</span>
							</div>
						<?php endforeach;?>
					<?php endforeach;?>
				<?php elseif($this->getIsRateRequest()): ?>
					<strong><?php echo Mage::helper('sales')->__('Sorry, no quotes are available for this order at this time.') ?></strong>
				<?php else: ?>
					<div id="order-shipping-method-summary">
						<a href="javascript:void(0);" onclick="Pos.Order.loadShippingRates();">
							<?php echo Mage::helper('sales')->__('Get shipping methods and rates') ?>
						</a>
						<input type="hidden" name="order[has_shipping]" value="" class="required-entry" />
					</div>
				<?php endif; ?>				
			</div>
		</center>
	</fieldset>
</div>