<div class="banner">
    <a href="<?php echo $this->getUrl('') ?>">
        <img src="<?php echo $this->getSkinUrl('images/banner.png') ?>" alt="No image" class="large border" />
    </a>
</div>
<div class="fueture-product">
    <div class="row">
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
        <div class="col">
            <ul>
                <li class="img">
                    <a href="<?php echo $this->getUrl('') ?>">
                        <img src="<?php echo $this->getSkinUrl('images/product_img.png') ?>" alt="No image" class="large" />
                    </a>
                </li>
                <li class="name"><a href="#">Diamante Embellished Top in Cream (7719791CRM)</a></li>
                <li class="price">S$93.00</li>
                <li class="popup">New This Week!</li>
            </ul>
        </div>
    </div>
</div>
<div class="pagenumber">
    <ul>
        <li class="first">1 </li>
        <li><a href="#">2</a> </li>
        <li><a href="#">3</a> </li>
        <li><a href="#">4</a> </li>
        <li><a href="#">5</a> </li>
        <li><a href="#">6</a> </li>
        <li><a href="#">Next</a> </li>
        <li><a href="#">View All</a> </li>
    </ul>
</div>