<?php 
	$arr_store = explode(",", Mage::getStoreConfig('carriers/pickupstore/specificstore'));
?>

<select name="shipping_store_id" id="shipping_store_id">
<?php 
	foreach (Mage::app()->getWebsites() as $website) {
		foreach ($website->getGroups() as $group) {
			$stores = $group->getStores();
			foreach ($stores as $store) {
				if (in_array($store->getData('store_id'), $arr_store)) {
					echo '<option value="'. $store->getData('store_id') .'">'. $store->getData('name') .'</option>';	
				}
				
				// if ($store->getData('is_active') == 1 && $store->getData('store_id') != 1) {
					// echo '<option value="'. $store->getData('store_id') .'">'. $store->getData('name') .'</option>';					
				// }
				// var_dump($store->getData('name'));
				// var_dump($store->getData('store_id'));
				// var_dump($store->getData('code'));
				// var_dump($store->getData('website_id'));
				// var_dump($store->getData('group_id'));
				// var_dump($store->getData('is_active'));
				// var_dump('<br><br><br><br>');				
			}
		}
	}
?>
</select>
<input type="hidden" name="shipping_store_name" id="shipping_store_name" value=""/>
<script type="text/javascript">
//<![CDATA[
	jQuery( "#shipping_store_id" ).focusout(function() {
		var store_name = jQuery( "#shipping_store_id option:selected" ).text();
		jQuery( "#shipping_store_name" ).val(store_name);
		console.log(jQuery( "#shipping_store_name" ).val());
	});
//]]>
</script>