<!--<script type="text/javascript" src="--><?php //echo $this->getSkinUrl('js/jquery.bxslider.min.js') ?><!--"></script>-->
<!--<link rel="stylesheet" href="--><?php //echo $this->getSkinUrl('css/jquery.bxslider.css') ?><!--">-->
<div class="home_banner">
    <?php //echo $this->getLayout()->createBlock('gtbanner/content_top')->setTemplate('gt_gtbanner/content/top.phtml')->toHtml() ?>
    <?php echo $this->getLayout()->createBlock('gtbanner/content_top')->setTemplate('gt_gtbanner/content/top2.phtml')->toHtml() ?>

</div>

<!--<script type="text/javascript">-->
<!--    jQuery(document).ready(function($) {-->
<!--        $('.bxslider').bxSlider({-->
<!--            //slideWidth: 900-->
<!--           infiniteLoop: true,-->
<!--           auto: true,-->
<!--            autoStart:true-->
<!--        });-->
<!--    });-->
<!--</script>-->