<?php 	
	$_methods      = $this->getMethods();
	$active_method = $this->getSelectedMethodCode();
    $payments = Mage::getModel('payment/config')->getActiveMethods();
?>
<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Payment Method')?></h4>
	</div>
	<fieldset>
		<center>			
			<?php if($this->hasMethods()): ?>



			<ul class="payment-methods">
				<?php foreach ($_methods as $_method): $_code = $_method->getCode();if($_code == 'free') continue;?>

                    <li>

					<?php if($_code != 'ccsave'):?>
						<!--<img id="p_method_<?php /*echo $_code */?>" title="<?php /*echo $_method->getTitle() */?>" onclick="Pos.Order.switchPaymentMethod('<?php /*echo $_code*/?>')" class="pointer <?php /*if($this->getSelectedMethodCode()==$_code):*/?>selected<?php /*endif;*/?>" src="<?php /*echo $this->getSkinUrl('gt_pos/images/logo_'.$_code.'.png')*/?>" >-->

					<?php elseif($_code == 'ccsave'):?>
						<?php
							$ccSaveBlock = $this->getLayout()->createBlock('pos/adminhtml_order_payment_method_ccsavebutton');
							$ccSaveBlock->setMethod($_method)
								->setSelectedMethodCode($this->getSelectedMethodCode());
							echo $ccSaveBlock->toHtml();
						?>
					<?php endif;?>
					</li>
				<?php endforeach;?>
			</ul>

			<?php foreach ($_methods as $_method): $_code = $_method->getCode();?>
				<?php if($_code != 'ccsave'):?>
					<?php echo $this->getChildHtml('payment.method.'.$_code) ?>
				<?php elseif($_code == 'ccsave'):?>
					<?php
						$ccSaveBlock = $this->getLayout()->createBlock('pos/adminhtml_order_payment_method_ccsave');
						$ccSaveBlock->setMethod($_method)
							->setSelectedMethodCode($this->getSelectedMethodCode());
						echo $ccSaveBlock->toHtml();
					?>
				<?php endif?>
			<?php endforeach?>
			
			<p>
				<input type="checkbox" id="createInvoice" name="invoice[create]"> <?php echo $this->__('Create invoice')?>
			</p>
			<script type="text/javascript">Pos.Order.setPaymentMethod('<?php echo $this->getSelectedMethodCode() ?>')</script>
			<?php else:?>
				<div><?php echo Mage::helper('sales')->__('No Payment Methods') ?></div>
			<?php endif;?>
		</center>
	</fieldset>
</div>