<div class="account-create">
    <div class="page-title">
        <h1><?php echo $this->__('NEW CUSTOMERS - Create an account') ?></h1>

        <p class="required"><?php echo $this->__('* Required') ?></p>
    </div>
    <ul id="error-msg-captcha" class="messages"><li class="error-msg-captcha"><ul><li><span>Incorrect CAPTCHA.</span></li></ul></li></ul>
    <?php echo $this->getChildHtml('form_fields_before') ?>
    <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
    <?php echo $this->getChildHtml('customer.form.register.extra') ?>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post" id="form-validate"
          enctype="multipart/form-data">
        <div class="fieldset">
            <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>"/>
            <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>"/>
            <ul class="form-list">
                <li class="fields overflowclear">
                    <?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
                </li>
                <li class="overflowclear">
                    <div class="register_email">
                        <label for="email_address" class="required"><?php echo $this->__('Email Address') ?>
                            <em>*</em></label>

                        <div class="input-box">
                            <input type="text" name="email" id="email_address"
                                   value="<?php echo $this->escapeHtml($this->getFormData()->getEmail()) ?>"
                                   title="<?php echo $this->__('Email Address') ?>"
                                   class="input-text validate-email required-entry"/>
                        </div>
                    </div>

                </li>

                <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                <?php if ($_dob->isEnabled()): ?>
                    <li><?php echo $_dob->setDate($this->getFormData()->getDob())->toHtml() ?></li>
                <?php endif ?>
                <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                <?php if ($_taxvat->isEnabled()): ?>
                    <li><?php echo $_taxvat->setTaxvat($this->getFormData()->getTaxvat())->toHtml() ?></li>
                <?php endif ?>
                <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                <?php if ($_gender->isEnabled()): ?>
                    <li><?php echo $_gender->setGender($this->getFormData()->getGender())->toHtml() ?></li>
                <?php endif ?>
                <?php $customerAttributes = $this->getChild('customer_form_user_attributes'); ?>
                <?php if ($customerAttributes): ?>
                    <?php $customerAttributes->setShowContainer(false); ?>
                    <?php $this->restoreSessionData($customerAttributes->getForm()); ?>
                    <?php echo $customerAttributes->toHtml() ?>
                <?php endif; ?>
                <li>
                    <div class="fieldset">
                        <ul class="form-list">
                            <li class="fields">
                                <div class="field f-left">
                                    <label for="password" class="required"><?php echo $this->__('Password') ?><em>*</em></label>

                                    <div class="input-box">
                                        <input type="password" name="password" id="password"
                                               title="<?php echo $this->__('Password') ?>"
                                               class="input-text required-entry validate-password"/>
                                    </div>
                                </div>
                                <div class="field f-right">
                                    <label for="confirmation"
                                           class="required"><?php echo $this->__('Confirm Password') ?>
                                        <em>*</em></label>

                                    <div class="input-box">
                                        <input type="password" name="confirmation"
                                               title="<?php echo $this->__('Confirm Password') ?>" id="confirmation"
                                               class="input-text required-entry validate-cpassword"/>
                                    </div>
                                </div>
                            </li>
                            <?php echo $this->getLayout()->createBlock('captcha/captcha')
                                ->setFormId('user_create')
                                ->setImgWidht(230)
                                ->setImgHeight(50)
                                ->toHtml();
                            ?>
                            <?php echo $this->getChildHtml('form.additional.info'); ?>
                            <li class="control overflowclear">
                                <div class="input-box">
                                    <input type="checkbox" name="is_subscribed"
                                           title="<?php echo $this->__('Sign Up for Newsletter') ?>" value="1"
                                           id="is_subscribed" checked="checked"   class="checkbox"/>
                                </div>
                                <label for="is_subscribed">   <?php $subscribed_text = $this->getLayout()->createBlock('cms/block')->setBlockId('pupsik_newsletter')->toHtml();
                                    echo strip_tags($subscribed_text); ?>
                                </label>
                                <?php /* Extensions placeholder */ ?>
                                <?php echo $this->getChildHtml('customer.form.newsletter'); ?>
                            </li>
                            <li>
                                <label class="pupsik-privacy-policy create">
                                    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('pupsik_privacy_policy')->toHtml(); ?>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="buttons-set form-buttons">
                        <button style="display: none" type="submit" id="btnSubmit" class="button" title="<?php echo $this->__('Submit') ?>">
                            <span><span><?php echo $this->__('Submit') ?></span></span></button>
                        <span style="display: none" id="createUsers" class="button" title="<?php echo $this->__('Submit') ?>">
                            <span><div><?php echo $this->__('Submit') ?></div></span></span>
                    </div>
                    <label class="block-create-account" style="margin-top: 10px;">
                        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('static_block_create_account')->toHtml(); ?>
                    </label>
                </li>
            </ul>
        </div>

        <?php if ($this->getShowAddressFields()): ?>
            <div class="fieldset">
                <input type="hidden" name="create_address" value="1"/>

                <h2 class="legend"><?php echo $this->__('Address Information') ?></h2>
                <ul class="form-list">
                    <li class="fields">
                        <div class="field">
                            <label for="company"><?php echo $this->__('Company') ?></label>

                            <div class="input-box">
                                <input type="text" name="company" id="company"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getCompany()) ?>"
                                       title="<?php echo $this->__('Company') ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('company') ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?>
                            </label>

                            <div class="input-box">
                                <input type="text" name="telephone" id="telephone"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getTelephone()) ?>"
                                       title="<?php echo $this->__('Telephone') ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('telephone') ?>"/>
                            </div>
                        </div>
                    </li>
                    <?php $_streetValidationClass = $this->helper('customer/address')->getAttributeValidationClass('street'); ?>
                    <li class="wide">
                        <label for="street_1" class="required"><em>*</em><?php echo $this->__('Street Address') ?>
                        </label>

                        <div class="input-box">
                            <input type="text" name="street[]"
                                   value="<?php echo $this->escapeHtml($this->getFormData()->getStreet(0)) ?>"
                                   title="<?php echo $this->__('Street Address') ?>" id="street_1"
                                   class="input-text <?php echo $_streetValidationClass ?>"/>
                        </div>
                    </li>
                    <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>
                        <li class="add-field">
                            <div class="input-box">
                                <input type="text" name="street[]"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getStreet($_i - 1)) ?>"
                                       title="<?php echo $this->__('Street Address %s', $_i) ?>"
                                       id="street_<?php echo $_i ?>"
                                       class="input-text <?php echo $_streetValidationClass ?>"/>
                            </div>
                        </li>
                    <?php endfor; ?>
                    <li class="fields">
                        <div class="field">
                            <label for="city" class="required"><em>*</em><?php echo $this->__('City') ?></label>

                            <div class="input-box">
                                <input type="text" name="city"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getCity()) ?>"
                                       title="<?php echo $this->__('City') ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('city') ?>"
                                       id="city"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?>
                            </label>

                            <div class="input-box">
                                <select id="region_id" name="region_id"
                                        title="<?php echo $this->__('State/Province') ?>" class="validate-select"
                                        style="display:none;">
                                    <option
                                        value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('region_id').setAttribute('defaultValue', "<?php echo $this->getFormData()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="region" name="region"
                                       value="<?php echo $this->escapeHtml($this->getRegion()) ?>"
                                       title="<?php echo $this->__('State/Province') ?>"
                                       class="input-text <?php echo $this->helper('customer/address')->getAttributeValidationClass('region') ?>"
                                       style="display:none;"/>
                            </div>
                        </div>
                    </li>
                    <li class="fields">
                        <div class="field">
                            <label for="zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?>
                            </label>

                            <div class="input-box">
                                <input type="text" name="postcode"
                                       value="<?php echo $this->escapeHtml($this->getFormData()->getPostcode()) ?>"
                                       title="<?php echo $this->__('Zip/Postal Code') ?>" id="zip"
                                       class="input-text validate-zip-international <?php echo $this->helper('customer/address')->getAttributeValidationClass('postcode') ?>"/>
                            </div>
                        </div>
                        <div class="field">
                            <label for="country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>

                            <div class="input-box">
                                <?php echo $this->getCountryHtmlSelect() ?>
                            </div>
                        </div>
                    </li>
                    <?php $addressAttributes = $this->getChild('customer_form_address_user_attributes'); ?>
                    <?php if ($addressAttributes): ?>
                        <?php $addressAttributes->setEntity($this->getAddress()); ?>
                        <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]'); ?>
                        <?php $this->restoreSessionData($addressAttributes->getForm(), 'address'); ?>
                        <?php echo $addressAttributes->setShowContainer(false)->toHtml() ?>
                    <?php endif; ?>

                </ul>
                <input type="hidden" name="default_billing" value="1"/>
                <input type="hidden" name="default_shipping" value="1"/>
            </div>

        <?php endif; ?>

    </form>
    <script type="text/javascript">
        //<![CDATA[
        var dataForm = new VarienForm('form-validate', true);
        <?php if($this->getShowAddressFields()): ?>
        new RegionUpdater('country', 'region', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'zip');
        <?php endif; ?>

        Form.getElements('form-validate').each(function (element) {
            element.setAttribute('autocomplete', 'off');
        });
        //]]>
    </script>
</div>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#captcha_user_create').keypress(function(){
            jQuery('#btnSubmit').css('display','none');
            jQuery('#createUsers').css('display','block');
        });
        var valText = jQuery('#captcha_user_create').val();
        if(valText == ''){
            jQuery('#btnSubmit').css('display','block');
            jQuery('#createUsers').css('display','none');
        }
        jQuery('#error-msg-captcha').css('display','none');
        jQuery('#createUsers').click(function(){
             var valText = jQuery('#captcha_user_create').val();
             var wordCapt = jQuery('#wordCaptcha').val();
             if(valText == wordCapt){

                jQuery( "#form-validate" ).submit();
             }else{
                jQuery('#error-msg-captcha').css('display','block');
             }
         });
    });
</script>