<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=260597494113980&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<?php $_helper = $this->helper('catalog/output'); ?>
<?php $_product = $this->getProduct(); ?>
<script type="text/javascript">
    var optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig(); ?>);
</script>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<div class="product-view">
    <div class="product-essential">
        <form action="<?php echo $this->getSubmitUrl($_product) ?>" method="post"
              id="product_addtocart_form"<?php if ($_product->getOptions()): ?> enctype="multipart/form-data"<?php endif; ?>>
            <?php echo $this->getBlockHtml('formkey') ?>
            <div class="no-display">
                <input type="hidden" name="product" value="<?php echo $_product->getId() ?>"/>
                <input type="hidden" name="related_product" id="related-products-field" value=""/>
            </div>

            <div class="product-img-box">
                <?php echo $this->getChildHtml('media') ?>
            </div>
            <div class="product-shop">
                <div class="overflowclear">
                    <div class="product-name overflowclear">
                        <span
                            class="h1"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></span>
                    </div>
                    <div class="overflowclear wrap_like_button">
                        <div class="float_left">
                            <div class="price-info">

                                <?php echo $this->getChildHtml('bundle_prices') ?>
                                <?php echo $this->getTierPriceHtml() ?>
                            </div>
                        </div>

                    </div>

                    <div class="float_left">
                        <div class="fb-like"
                             data-href="https://developers.facebook.com/docs/plugins/"
                             data-layout="button" data-action="like" data-show-faces="false"
                             data-share="flase"></div>
                        <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count">

                        </div>
                    </div>

                    <?php echo $this->getReviewsSummaryHtml($_product, false, true) ?>
                    <?php echo $this->getChildHtml('alert_urls') ?>
                    <?php echo $this->getChildHtml('product_type_data') ?>
                    <?php echo $this->getTierPriceHtml() ?>
                    <?php echo $this->getChildHtml('extrahint') ?>
                    <div class="product-collateral toggle-content tabs f-left">
                        <?php if ($detailedInfoGroup = $this->getChildGroup('detailed_info', 'getChildHtml')): ?>
                            <dl>
                                <dt class="tab">
                                    <span>DETAILS</span></dt>
                                <dd class="tab-container">
                                    <div class="tab-content">
                                        <?php if ($_product->getShortDescription()): ?>
                                            <div class="short-description">
                                                <div
                                                    class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
                                            </div>
                                        <?php endif; ?>

                                        <?php if ($_product->getShortDescription()): ?>
<!--                                            <div class="short-description">-->
<!--                                                <h2>--><?php //echo $this->__('Quick Overview') ?><!--</h2>-->
<!---->
<!--                                                <div-->
<!--                                                    class="std">--><?php //echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?><!--</div>-->
<!--                                            </div>-->
                                        <?php endif; ?>

                                        <?php echo $this->getChildHtml('other'); ?>

                                        <?php if ($this->hasOptions()): ?>
                                            <?php echo $this->getChildChildHtml('container1', '', true, true) ?>
                                        <?php endif; ?>
                                        <div class="full-description">
                                            <div
                                                class="std"><?php $short_description = $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description');
                                                echo strip_tags($short_description, "<div>, <p>");
                                                ?></div>
                                            <div
                                                class="std"><?php  $description = $_helper->productAttribute($_product, nl2br($_product->getDescription()), 'description');
//                                                echo strip_tags($description, "<div>, <p>");
                                                echo $description;
                                                ?></div>



                                        </div>
                                        <div class="clearer"></div>

                                    </div>
                                </dd>
                                <dt class="tab">
                                    <span>SIZING</span></dt>
                                <dd class="tab-container">
                                    <div
                                        class="std"><?php
                                        $sizing = $_helper->productAttribute($_product, nl2br($_product->getDescription2()), 'description2');
//                                        echo strip_tags($sizing, "<div>, <p>");
                                        echo $sizing;
                                        ?></div>
                                </dd>
                                <dt class="tab">
                                    <span>DELIVERY</span></dt>
                                <dd class="tab-container">
                                    <div class="tab-content"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_delivery')->toHtml(); ?></div>
                                </dd>
                                <dt class="tab">
                                    <span>RETURNS</span></dt>
                                <dd class="tab-container">
                                    <div class="tab-content"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('block_returns')->toHtml(); ?></div>
                                </dd>

                            </dl>
                        <?php //endif; ?>
                        <?php echo $this->getChildHtml('product_additional_data') ?>
                    </div>


                <?php //if (!$this->hasOptions()): ?>
                <?php if ($this->hasOptions()): ?>
                    <?php echo $this->getChildChildHtml('container2', '', true, true) ?>
                <?php endif; ?>
                    <div class="add-to-box">
                        <?php if ($_product->isSaleable()): ?>
                            <?php echo $this->getChildHtml('addtocart') ?>
                            <?php if ($this->helper('wishlist')->isAllow() || $_compareUrl = $this->helper('catalog/product_compare')->getAddUrl($_product)): ?>
                                <span class="or"><?php echo $this->__('OR') ?></span>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php echo $this->getChildHtml('addto') ?>
                    </div>
                <?php echo $this->getChildHtml('extra_buttons') ?>
                <?php elseif (!$_product->isSaleable()): ?>
                    <div class="add-to-box">
                        <?php echo $this->getChildHtml('addto') ?>
                    </div>
                <?php endif; ?>
                </div>
        </form>

        <?php $_wishlistSubmitUrl = $this->helper('wishlist')->getAddUrl($_product); ?>
<!--        <li><a href="--><?php //echo $_wishlistSubmitUrl ?><!--" onclick="productAddToCartForm.submitLight(this, this.href); return false;" class="link-wishlist">--><?php //echo $this->__('Add to Wishlist') ?><!--</a></li>-->

        <script type="text/javascript">
            //<![CDATA[
            var productAddToCartForm = new VarienForm('product_addtocart_form');
            productAddToCartForm.submit = function (button, url) {
                if (this.validator.validate()) {
                    var form = this.form;
                    var oldUrl = form.action;

                    if (url) {
                        form.action = url;
                    }
                    var e = null;
                    try {
                        this.form.submit();
                    } catch (e) {
                    }
                    this.form.action = oldUrl;
                    if (e) {
                        throw e;
                    }

                    if (button && button != 'undefined') {
                        button.disabled = true;
                    }
                }
            }.bind(productAddToCartForm);

            productAddToCartForm.submitLight = function (button, url) {
                if (this.validator) {
                    var nv = Validation.methods;
                    delete Validation.methods['required-entry'];
                    delete Validation.methods['validate-one-required'];
                    delete Validation.methods['validate-one-required-by-name'];
                    // Remove custom datetime validators
                    for (var methodName in Validation.methods) {
                        if (methodName.match(/^validate-datetime-.*/i)) {
                            delete Validation.methods[methodName];
                        }
                    }

                    if (this.validator.validate()) {
                        if (url) {
                            this.form.action = url;
                        }
                        this.form.submit();
                    }
                    Object.extend(Validation.methods, nv);
                }
            }.bind(productAddToCartForm);
            //]]>
        </script>
    </div>
</div>
<div class="overflowclear">
    <?php echo $this->getChildHtml('upsell_products'); ?>
    <?php echo $this->getChildHtml('right.reports.product.viewed'); ?>
</div>