.grid tr.highlight{
    background: none repeat scroll 0 0 #FCF5DD !important;
    cursor: pointer;
}
.img_qty{
    padding-top: 2px;
    margin-left: 3px;
    margin-right: 3px;
}
.input_qty{
    width: 30px;
	margin-top: 1px;
    vertical-align: top;
	text-align: center;
}
.pos-quote_promotion li{
	margin: 0 !important;
}
.pos-select-customer li{
    float: left;
    margin-right: 30px !important;
}
.avatar-container{

}
#pos-ordder_pending .grid{
	height: 146px;
    overflow: auto;
}
#pos-newsletter label{
    line-height: 22px;
}
.payment-methods li{display:inline-block;}
.payment-methods img{
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    cursor: hand;
    cursor: pointer;
}
.payment-methods img.selected{   
    border-color: #ff0033;   
}
#div_shipping_methods p
{
    padding: 4px;
}

.span_shipping_method_label
{
    text-align: left;
    font-size: 14px;
    color: #aaaaaa;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    margin-bottom: 5px;
    font-weight: bold;
    cursor: hand;
    cursor: pointer;
}

.shipping_method_selected
{
    border-color: #ff0033;
}

.promotion-title {
	font-size: 14px;
	font-weight: bolder;
}
.pos_given_amount_container{
	position: relative;
}
.pos_given_amount_container .c_given_amount{
	left: 5px;
    position: absolute;
    top: 5px;
}
.pos_given_amount_container #given_amount{
	padding: 5px 5px 5px 15px;
}

.qtip, .qtip {
    direction: ltr;
    display: none;
    font-size: 10.5px;
    left: -28000px;
    line-height: 12px;
    min-width: 50px;
    position: absolute;
    top: -28000px;
}
.qtip-content {
    overflow: hidden;
    padding: 8px 10px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}
.qtip-titlebar {
    border-width: 0 0 1px;
    font-weight: 700;
    overflow: hidden;
    padding: 5px 35px 5px 10px;
    position: relative;
}
.qtip-titlebar + .qtip-content {
    border-top-width: 0 !important;
}
.qtip-close {
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: medium none;
    position: absolute;
    right: -9px;
    top: -9px;
}
.qtip-titlebar .qtip-close {
    margin-top: -9px;
    right: 4px;
    top: 50%;
}
* html .qtip-titlebar .qtip-close {
    top: 16px;
}
.qtip-titlebar .ui-icon, .qtip-icon .ui-icon {
    direction: ltr;
    display: block;
    text-indent: -1000em;
    vertical-align: middle;
}
.qtip-icon, .qtip-icon .ui-icon {
    border-radius: 3px 3px 3px 3px;
    text-decoration: none;
}
.qtip-icon.ui-state-hover{
    text-decoration: none !important;
}
.qtip-icon .ui-icon {
    background: none no-repeat scroll -100em -100em transparent;
    color: inherit;
    font: bold 10px/14px Tahoma,sans-serif;
    height: 14px;
    text-align: center;
    text-indent: 0;
    width: 18px;
}
.qtip-default {
    background-color: #FFFFA3;
    border-color: #F1D031;
    border-style: solid;
    border-width: 1px;
    color: #555555;
}
.qtip-default .qtip-titlebar {
    background-color: #FFEF93;
}
.qtip-default .qtip-icon {
    background: none repeat scroll 0 0 #F1F1F1;
    border-color: #CCCCCC;
    color: #777777;
}
.qtip-default .qtip-titlebar .qtip-close {
    border-color: #AAAAAA;
    color: #111111;
}
.qtip-light {
    background-color: #FFFFFF;
    border-color: #E2E2E2;
    color: #454545;
}
.qtip-light .qtip-titlebar {
    background-color: #F1F1F1;
}
.qtip-rounded{
    border-radius: 5px 5px 5px 5px;
}
#qtip-overlay{
    position: fixed;
    left: -10000em;
    top: -10000em;
}
/* Applied to modals with show.modal.blur set to true */
#qtip-overlay.blurs{ cursor: pointer; }
/* Change opacity of overlay here */
#qtip-overlay div{
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: black;
    opacity: 0.7;
    filter:alpha(opacity=70);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
/* Add some nice box-shadow-ness to the modal tooltip */
#qtip-modal{
    max-width: 420px;
    -moz-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
    box-shadow: 0 0 10px 1px rgba(0,0,0,.5);
}
#qtip-modal .qtip-content{
    padding: 10px;
}