<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">Place order</h4>
    </div>

    <fieldset>
        <center>
            <h4>Payment Method: <span id="order_payment_method"><?php echo $this->getPaymentMethodName()?></span></h4>
            <h4>Order Total: <span id="cc_order_total"><?php echo $this->formatPrice($this->getTotal())?></span></h4>
            <h4>Amount Received: <span id="order_amount_received"><?php echo $this->formatPrice(0)?></span></h4>
            <h4>Change: <span id="order_change" style="color : red;"><?php echo $this->formatPrice(0)?></span></h4>
            <button type="button" class="scalable" onclick="Pos.Utils.Calculator2.show();"><span>Calculate change</span></button>&nbsp;
            <button type="button" class="scalable save" onclick="Pos.Order.placeOrder()"><span>Create Order</span></button>
        </center>
    </fieldset>
</div>