<div class="entry-edit avatar-container">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">Avatar</h4>
    </div>
    <fieldset>
        <div class="a-center">
            <div class="avatar-container">
                <img width="150" src="<?php echo $this->getAvatar()?>" alt="<?php echo $this->getUser()->getName()?>">
            </div>
            <div class="user-name">
                <?php echo $this->getUser()->getName()?>
            </div>
            <?php if($this->getUser()->getUserQuote()):?>
            <div class="user-quote a-center">
                <?php echo $this->getUser()->getUserQuote()?>
            </div>
            <?php endif ?>
        </div>
    </fieldset>
</div>
