
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account">Change calculator</h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <form id="pos-order-form3" action="<?php echo $this->getUrl('*/*/createPos') ?>" method="POST" name="order_form" enctype="multipart/form-data" target="blank">
                <?php echo $this->getBlockHtml('formkey')?>


                <table>
                    <tr>
                        <th></th>
                        <th width="200" align="right"><?php echo $this->__('From :'); ?>
                            <input size="8" type="text" id="from2" name="from2" value="<?php echo date('Y-m-d', time() - 3600*24*365); ?>">
                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="img_calendar_from2" />
                            <script type="text/javascript">

                                Calendar.setup({
                                    inputField : 'from2',
                                    ifFormat : '%Y-%m-%e',
                                    button : 'img_calendar_from2',
                                    align : 'Bl',
                                    singleClick : true
                                });
                            </script>
                        </th>
                    </tr>
                    <tr>
                        <td>ddd</td>
                        <td><?php echo $this->__('Start of day'); ?></td>
                        <td><?php echo $this->__('End of day settlement'); ?></td>
                        <td><?php echo $this->__('Sales captured'); ?></td>
                        <td><?php echo $this->__('Discrepancies'); ?></td>
                    </tr>
                    <?php
                    $payments = Mage::getSingleton('payment/config')->getActiveMethods();
                    $methods = array();

                    foreach ($payments as $paymentCode=>$paymentModel) {
                    $paymentTitle = Mage::getStoreConfig('payment/'.$paymentCode.'/title');
                    $methods[$paymentCode] = $paymentTitle;
                        $totalSum = 0;

                        $orderTotals = Mage::getModel('sales/order')->getCollection()
                            ->join(array('payment'=>'sales/order_payment'),'main_table.entity_id=parent_id','method')
                            //->addAttributeToFilter('status', Mage_Sales_Model_Order::STATE_COMPLETE)
                            ->addAttributeToFilter('created_at', array('from'  => '2014-12-02'))
                            ->addAttributeToFilter('is_pos', array('eq'=>'1'))
                            ->addAttributeToFilter('method', array('eq'=>$paymentCode))
                            //->addAttributeToFilter('method', array('eq'=>'cashondelivery'))
                            ->addAttributeToSelect('grand_total')
                            ->getColumnValues('grand_total')
                        ;

                        $totalSum = array_sum($orderTotals);
                        $totalSum = Mage::helper('core')->currency($totalSum, true, false);
                    ?>
                    <tr>
                        <td><?php echo $methods[$paymentCode]; ?></td>
                        <td>
                            <div style="font-size: 24px; text-align: right; width: 180px; margin-top: 10px; font-weight: bold;">
                                <span>$ </span><input id="start_day" name="start_day" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="0.00" style="font-size: 24px; text-align: right; width: 120px; font-weight: bold;"/>
                            </div>
                        </td>
                        <td>
                            <div style="font-size: 24px; text-align: right; width: 180px; margin-top: 10px; font-weight: bold;">
                                <span>$ </span><input id="end_day" name="end_day" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="0.00" style="font-size: 24px; text-align: right; width: 120px; font-weight: bold;"/>
                            </div>
                        </td>
                        <td><?php echo $totalSum;?></td>
                        <td></td>
                    </tr>
                    <?php } ?>
                </table>
                <button type="button" class="scalable save" onclick="dataForm.submit()"><span><?php echo $this->__('Submit')?></span></button>

            </form>

            <script type="text/javascript">

            	var dataForm = new VarienForm('pos-order-form3', true);

            </script>

            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><h2>Order total</h2></td>
                    <td><div id="cc_order_total" name="cc_order_total" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;"></div></td>
                </tr>
                <tr>
                    <td class="label"><h2>Given amount</h2></td>
                    <td align="right">
                        <div name="cc_given_amount" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;">
                            <span>$ </span><input id="cc_given_amount" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="0.00" style="font-size: 24px; text-align: right; width: 170px; font-weight: bold;"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <h2>Change </h2>
                    </td>
                    <td><div id="cc_change" name="cc_change" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold; color:red;"></div></td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <table cellspacing="0" width="100%">
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 500 " onclick="Pos.Utils.Calculator.addAmount(500)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 200 " onclick="Pos.Utils.Calculator.addAmount(200)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 100 " onclick="Pos.Utils.Calculator.addAmount(100)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 50 " onclick="Pos.Utils.Calculator.addAmount(50)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 20 " onclick="Pos.Utils.Calculator.addAmount(20)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 10 " onclick="Pos.Utils.Calculator.addAmount(10)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 5 " onclick="Pos.Utils.Calculator.addAmount(5)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 2 " onclick="Pos.Utils.Calculator.addAmount(2)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 1 " onclick="Pos.Utils.Calculator.addAmount(1)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.5 " onclick="Pos.Utils.Calculator.addAmount(0.5)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 0.2 " onclick="Pos.Utils.Calculator.addAmount(0.2)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 0.1 " onclick="Pos.Utils.Calculator.addAmount(0.1)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.05 " onclick="Pos.Utils.Calculator.addAmount(0.05)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.02 " onclick="Pos.Utils.Calculator.addAmount(0.02)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.01 " onclick="Pos.Utils.Calculator.addAmount(0.01)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td align="center" colspan="5">
                        <input type="button" value=" Reset " onclick="Pos.Utils.Calculator.resetAmount()" style="font-size: 20px;">
                    </td>
            </table>
        </div>
    </div>
</div>
