<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account">Change calculator</h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td class="label"><h2>Order total</h2></td>
                    <td><div id="cc_order_total" name="cc_order_total" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;"></div></td>
                </tr>
                <tr>
                    <td class="label"><h2>Given amount</h2></td>
                    <td align="right">
                        <div name="cc_given_amount" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;">
                            <span>$ </span><input id="cc_given_amount" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="0.00" style="font-size: 24px; text-align: right; width: 170px; font-weight: bold;"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <h2>Change </h2>
                    </td>
                    <td><div id="cc_change" name="cc_change" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold; color:red;"></div></td>
                </tr>
            </table>
            <p>&nbsp;</p>
            <table cellspacing="0" width="100%">
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 500 " onclick="Pos.Utils.Calculator.addAmount(500)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 200 " onclick="Pos.Utils.Calculator.addAmount(200)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 100 " onclick="Pos.Utils.Calculator.addAmount(100)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 50 " onclick="Pos.Utils.Calculator.addAmount(50)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 20 " onclick="Pos.Utils.Calculator.addAmount(20)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 10 " onclick="Pos.Utils.Calculator.addAmount(10)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 5 " onclick="Pos.Utils.Calculator.addAmount(5)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 2 " onclick="Pos.Utils.Calculator.addAmount(2)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 1 " onclick="Pos.Utils.Calculator.addAmount(1)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.5 " onclick="Pos.Utils.Calculator.addAmount(0.5)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td width="20%" align="center"><input type="button" value=" + 0.2 " onclick="Pos.Utils.Calculator.addAmount(0.2)" style="font-size: 20px;"><br>&nbsp;</td>
                    <td width="20%" align="center"><input type="button" value=" + 0.1 " onclick="Pos.Utils.Calculator.addAmount(0.1)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.05 " onclick="Pos.Utils.Calculator.addAmount(0.05)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.02 " onclick="Pos.Utils.Calculator.addAmount(0.02)" style="font-size: 20px;"></td>
                    <td width="20%" align="center"><input type="button" value=" + 0.01 " onclick="Pos.Utils.Calculator.addAmount(0.01)" style="font-size: 20px;"></td>
                </tr>
                <tr>
                    <td align="center" colspan="5">
                        <input type="button" value=" Reset " onclick="Pos.Utils.Calculator.resetAmount()" style="font-size: 20px;">
                    </td>
            </table>
        </div>
    </div>
</div>