<div class="entry-edit-head">
	<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Comments')?></h4>
</div>
<fieldset>
	<table border="0">
		<tbody>
		<tr>
			<td class="label"><?php echo $this->__('Order comments')?></td>
			<td class="value">
				<textarea rows="5" cols="80" id="comments" onchange="Pos.Order.setComment()" name="order[comment][customer_note]"><?php echo $this->getCommentNote()?></textarea>
			</td>
		</tr>
		<tr>
			<td class="label"><?php echo $this->__('Invoice comments')?>&nbsp;</td>
			<td class="value">
				<textarea rows="5" cols="80" onchange="Pos.Order.setComment()" id="invoice_comments" name="invoice[comment]"></textarea>
			</td>
		</tr>
		</tbody>
	</table>
</fieldset>