<style>
    .disabled-txt{
        background: #eee;
        border: 1px solid #cecece;
    }
</style>
<table width="100%" cellspacing="4" border="0">
	<tbody>
		<tr>
			<td>
                <div class="entry-edit">
                    <div class="entry-edit-head">
                        <h4 class="icon-head head-account">Change calculator</h4>
                    </div>
                    <div class="fieldset">
                        <div class="hor-scroll">
                            <form id="pos-order-form3" action="<?php echo $this->getUrl('*/*/createPos') ?>" method="POST" name="order_form" enctype="multipart/form-data">
                                <?php echo $this->getBlockHtml('formkey')?>

                                <table>
                                    <tr>
                                        <th></th>
                                        <th width="200" align="right"><?php echo $this->__('From :'); ?>
                                            <input size="8" type="text" id="from2" name="from2" value="<?php echo $date = date('Y-m-d'); ?>">
                                            <img src="<?php echo $this->getSkinUrl('images/grid-cal.gif') ?>" class="v-middle" id="img_calendar_from2" />
                                            <script type="text/javascript">

                                                Calendar.setup({
                                                    inputField : 'from2',
                                                    ifFormat : '%Y-%m-%e',
                                                    'time' : true,
                                                    button : 'img_calendar_from2',
                                                    align : 'Bl',
                                                    singleClick : true

                                                });
                                                jQuery(document).ready(function(){
                                                    jQuery('#check_cashonly').change(function(){
                                                        if(jQuery(this).is(':checked')){
                                                            jQuery('#pos-order-form3 td input[type=text]').prop('readonly','readonly');
                                                            jQuery('#pos-order-form3 td input[type=text]').addClass('disabled-txt');
                                                            jQuery('#pos-order-form3 input[name=start_day_CA]').prop('readonly',false);
                                                            jQuery('#pos-order-form3 input[name=start_day_CA]').removeClass('disabled-txt');
                                                            jQuery('#pos-order-form3 input[name=end_day_CA]').prop('readonly',false);
                                                            jQuery('#pos-order-form3 input[name=end_day_CA]').removeClass('disabled-txt');
                                                        }
                                                        else{
                                                            jQuery('#pos-order-form3 input[type=text]').prop('readonly',false);
                                                            jQuery('#pos-order-form3 input[type=text]').removeClass('disabled-txt');
                                                        }
                                                    });
                                                });
                                            </script>
                                        </th>
                                        <th><input type="checkbox" id="check_cashonly" name="check_cashonly"><label for="check_cashonly">Cash only</label></th>
                                    </tr>
                                    <tr>
                                        <td> </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th style="text-align: center"><?php echo $this->__('Start of day'); ?></th>
                                        <th style="text-align: center"><?php echo $this->__('End of day settlement'); ?></th>
                                        <th style="text-align: center;width: 120px;"><?php echo $this->__('Sales captured'); ?></th>
                                        <th style="text-align: center;width: 120px;"><?php echo $this->__('Discrepancies'); ?></th>
                                    </tr>
                                    <?php
                                    $payments = Mage::getModel('payment/config')->getActiveMethods();
                                    $methods = array();
                                    foreach ($payments as $paymentCode=>$paymentModel) {

                                        if ($paymentCode == 'ccsave'){

                                            $types = Mage::getSingleton('payment/config')->getCcTypes();

                                            foreach ($types as $type => $value){

                                                if ($type == 'CA' || $type == 'NE' || $type == 'CC' || $type == 'VC'){
                                                   // echo $value;

                                                    $paymentTitle = Mage::getStoreConfig('payment/'.$paymentCode.'/title');
                                                    $methods[$paymentCode] = $paymentTitle;
                                                    $totalSum = 0;

                                                    $orderTotals = Mage::getModel('sales/order')->getCollection()
                                                        ->join(array('payment'=>'sales/order_payment'),'main_table.entity_id=parent_id','method')
                                                        //->addAttributeToFilter('status', Mage_Sales_Model_Order::STATE_COMPLETE)
                                                        ->addAttributeToFilter('created_at', array('from'  => $date))
                                                        ->addAttributeToFilter('is_pos', array('eq'=>'1'))
                                                        ->addAttributeToFilter('method', array('eq'=>$paymentCode))
                                                        ->addAttributeToFilter('cc_type', array('eq'=>$type))
                                                        //->addAttributeToFilter('method', array('eq'=>'cashondelivery'))
                                                        ->addAttributeToSelect('grand_total')
                                                        ->getColumnValues('grand_total')
                                                    ;
                                                    //var_dump($orderTotals);
                                                    $totalSum = array_sum($orderTotals);//var_dump($totalSum);
                                                    $start_day = $_POST['start_day_'.$type];
                                                    $end_day = $_POST['end_day_'.$type];
                                                    $discrepancies = $end_day - $start_day - $totalSum ;


                                                    $session = Mage::getSingleton('core/session');
                                                    $session->setData('grand_total'. $type, $totalSum);

                                                    $total = $session->getData('grand_total'.$type);//var_dump($total);

                                                    $models = Mage::getModel('pos/discrepancies')->getCollection()
                                                        //->addFieldToSelect('discrepancies')
                                                        ->addFieldToFilter('payment_method',$value)
                                                        ->addFieldToFilter('created_at',$date);
                                                    //foreach($models as $model){
                                                    ?>
                                                    <tr>
                                                        <!--<td style="line-height: 42px;"><?php /*echo $methods[$paymentCode]; */?></td>-->
                                                        <td style="line-height: 42px;"><?php echo $value; ?></td>
                                                        <td>
                                                            <div style="font-size: 24px; text-align: right; width: 150px; margin-top: 10px; font-weight: normal;">
                                                                <input id="start_day" name="start_day_<?php echo $type; ?>" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="<?php //echo $model->getStartDay(); ?>" style="font-size: 24px; text-align: right; width: 120px; font-weight: normal;"/>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div style="font-size: 24px; text-align: right; width: 150px; margin-top: 10px; font-weight: normal;">
                                                                <input id="end_day" name="end_day_<?php echo $type; ?>" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="<?php //echo $model->getEndDay(); ?>" style="font-size: 24px; text-align: right; width: 120px; font-weight: bold;"/>
                                                            </div>
                                                        </td>
                                                        <td style="line-height: 42px;text-align: center;"><?php echo Mage::helper('core')->currency($totalSum, true, false);?></td>
                                                        <?php foreach($models as $model){ ?>
                                                            <?php //if($paymentCode == 'free'){?>
                                                            <td style="line-height: 42px;text-align: center;"><?php echo Mage::helper('core')->currency($model->getDiscrepancies(), true, false);?></td>
                                                        <?php } ?>
                                                    </tr>
                                                <?php }}}}?>
                                </table>
                                <button type="button" class="scalable save" onclick="dataForm.submit()"><span><?php echo $this->__('Submit')?></span></button>

                            </form>

                            <script type="text/javascript">
                                var dataForm = new VarienForm('pos-order-form3', true);
                            </script>

                            <table cellspacing="0" class="form-list" style="display: none;">
                                <tr>
                                    <td class="label"><h2>Order total</h2></td>
                                    <td><div id="cc_order_total" name="cc_order_total" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;"></div></td>
                                </tr>
                                <tr>
                                    <td class="label"><h2>Given amount</h2></td>
                                    <td align="right">
                                        <div name="cc_given_amount" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold;">
                                            <span>$ </span><input id="cc_given_amount" onkeyup="Pos.Utils.Calculator.processCustomAmount(this)" type="text" value="0.00" style="font-size: 24px; text-align: right; width: 170px; font-weight: bold;"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">
                                        <h2>Change </h2>
                                    </td>
                                    <td><div id="cc_change" name="cc_change" style="font-size: 24px; text-align: right; width: 320px; margin-top: 10px; font-weight: bold; color:red;"></div></td>
                                </tr>
                            </table>
                            <p>&nbsp;</p>
                            <table cellspacing="0" width="100%" style="display: none;">
                                <tr>
                                    <td width="20%" align="center"><input type="button" value=" + 500 " onclick="Pos.Utils.Calculator.addAmount(500)" style="font-size: 20px;"><br>&nbsp;</td>
                                    <td width="20%" align="center"><input type="button" value=" + 200 " onclick="Pos.Utils.Calculator.addAmount(200)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 100 " onclick="Pos.Utils.Calculator.addAmount(100)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 50 " onclick="Pos.Utils.Calculator.addAmount(50)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 20 " onclick="Pos.Utils.Calculator.addAmount(20)" style="font-size: 20px;"></td>
                                </tr>
                                <tr>
                                    <td width="20%" align="center"><input type="button" value=" + 10 " onclick="Pos.Utils.Calculator.addAmount(10)" style="font-size: 20px;"><br>&nbsp;</td>
                                    <td width="20%" align="center"><input type="button" value=" + 5 " onclick="Pos.Utils.Calculator.addAmount(5)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 2 " onclick="Pos.Utils.Calculator.addAmount(2)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 1 " onclick="Pos.Utils.Calculator.addAmount(1)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 0.5 " onclick="Pos.Utils.Calculator.addAmount(0.5)" style="font-size: 20px;"></td>
                                </tr>
                                <tr>
                                    <td width="20%" align="center"><input type="button" value=" + 0.2 " onclick="Pos.Utils.Calculator.addAmount(0.2)" style="font-size: 20px;"><br>&nbsp;</td>
                                    <td width="20%" align="center"><input type="button" value=" + 0.1 " onclick="Pos.Utils.Calculator.addAmount(0.1)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 0.05 " onclick="Pos.Utils.Calculator.addAmount(0.05)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 0.02 " onclick="Pos.Utils.Calculator.addAmount(0.02)" style="font-size: 20px;"></td>
                                    <td width="20%" align="center"><input type="button" value=" + 0.01 " onclick="Pos.Utils.Calculator.addAmount(0.01)" style="font-size: 20px;"></td>
                                </tr>
                                <tr>
                                    <td align="center" colspan="5">
                                        <input type="button" value=" Reset " onclick="Pos.Utils.Calculator.resetAmount()" style="font-size: 20px;">
                                    </td>
                            </table>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <div id="pos-search_grid">
                        <?php echo $this->getChildHtml('discrepancies_grid');?>
                    </div>
                </fieldset>
			</td>
			<td width="300">

			</td>
		</tr>
	</tbody>
</table>
<script>Pos.Core.registerMainTabs();</script>