<table width="100%" cellspacing="4" border="0">
	<tbody>
		<tr>
			<td>
				<div id="pos-items_ordered">
					<?php echo $this->getChildHtml('items_ordered')?>
				</div>
				<div id="pos-promotions_list">
					<?php echo $this->getChildHtml('promotions_list')?>
				</div>
				<table cellspacing="4" border="0" width="100%">
					<col width="210"/>
					<col/>
					<col/>
					<tr>
						<td>
							<div id="pos-user_avatar">
								<?php echo $this->getChildHtml('user_avatar')?>
							</div>
						</td>
						<td>
							<div id="pos-ordder_pending">
								<?php echo $this->getChildHtml('order_pending')?>
							</div>
						</td>
					</tr>
				</table>
				<div id="action_tabs">
					<ul class="tabs-horiz" >
						<li><a class="tab-item-link active" title="Add products" id="add_products_tab" href="#tab_add_products_tab">Add products</a></li>
						<li><a class="tab-item-link" title="Customer information" id="customer_information_tab" href="#tab_customer_information_tab">Customer information</a></li>
						<li><a class="tab-item-link" title="Customer address" id="customer_address_tab" href="#tab_customer_address_tab">Customer address</a></li>
						<li><a class="tab-item-link" title="Comments" id="comments_tab" href="#tab_comments_tab">Comments</a></li>
					</ul>
					<div id="tab_add_products_tab" class="entry-edit visible-menu">
						<div class="entry-edit-head">
							<h4 class="icon-head head-edit-form fieldset-legend">Add product</h4>
						</div>
						<fieldset>
							<div id="pos-search_grid">
								<?php echo $this->getChildHtml('search_grid');?>
							</div>							
						</fieldset>
					</div>

					<div id="tab_customer_information_tab" class="entry-edit">
						<div id="pos-customer_info">
							<?php echo $this->getChildHtml('customer_info')?>
						</div>
					</div>

					<div id="tab_customer_address_tab" class="entry-edit">
						<div id="pos-customer_address">
							<?php echo $this->getChildHtml('customer_address')?>
						</div>
					</div>

					<div id="tab_comments_tab" class="entry-edit hidden-menu">
						<div id="pos-customer_comment">
							<?php echo $this->getChildHtml('comment')?>
						</div>
					</div>
				</div>
			</td>
			<td width="300">
				<div id="pos-total">
					<?php echo $this->getChildHtml('total')?>
				</div>

				<div id="pos-product_info">
					<?php echo $this->getChildHtml('product_info')?>
				</div>
				<div id="pos-payment_method">
					<?php echo $this->getChildHtml('payment_method')?>
				</div>
				
				<div id="pos-shipping_method">
					<?php echo $this->getChildHtml('shipping_method')?>
				</div>

				<div id="pos-actions">
					<?php echo $this->getChildHtml('actions')?>
				</div>


                <div id="pos-actions">
                    <?php //echo $this->getChildHtml('actions2')?>
                </div>


				<div id="pos-change_calculator" class="no-display">
					<?php echo $this->getChildHtml('calculator')?>
				</div>

                <div id="pos-change_calculator2" class="no-display">
                    <?php //echo $this->getChildHtml('calculator2')?>
                </div>
			</td>
		</tr>
	</tbody>
</table>
<script>Pos.Core.registerMainTabs();</script>