<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3><?php echo Mage::helper('pos')->__('Point Of Sale Manager') ?></h3></td>
        </tr>
    </table>
</div>
<div id="pos-message"></div>
<div class="no-display">
    <input type="hidden" id="pos-lightbox"/>
</div>

<?php echo $this->getChildHtml('data2')?>



