<div class="content-header">
    <table cellspacing="0">
        <tr>
            <td><h3><?php echo Mage::helper('pos')->__('Point Of Sale Manager') ?></h3></td>
        </tr>
    </table>
</div>
<div id="pos-message"></div>
<div class="no-display">
    <input type="hidden" id="pos-lightbox"/>
</div>
<script type="text/javascript">
    var orderVars = {
        'loadBlockUrl': '<?php echo $this->getUrl('adminhtml/pos_order/loadblock')?>',        
        'skinUrl': '<?php echo $this->getSkinUrl()?>',
        'submitUrl': '<?php echo $this->getUrl('adminhtml/pos_order/save')?>',
        'getDataUrl': '<?php echo $this->getUrl('adminhtml/pos_order/orderdata')?>',
		'printUrl': '<?php echo $this->getUrl('adminhtml/pos_order/print')?>',
        'customer_id' : '<?php echo $this->getPosCustomerId()?>',
        'shipping_method': '<?php echo $this->getShippingMethod()?>',
		'payment_method': '<?php echo $this->getPaymentMethod()?>',
        'store_id' : 1
    }
    Pos.Order.init(orderVars);
    Pos.Utils.Calculator.init({
        currencySymbol: '<?php echo $this->getCurrencySymbol()?>'
    });
</script>
<form id="pos-order_form" action="" method="POST" name="order_form" enctype="multipart/form-data" target="blank">
    <?php echo $this->getBlockHtml('formkey')?>
	<div id="pos-data">
		<?php echo $this->getChildHtml('data')?>    
	</div>    
</form>
<script type="text/javascript">
    var editForm = new varienForm('pos-order_form', '');
</script>
