<?php if($order = $this->getOrder()):?>
<div>
    <h2><?php echo $this->__('Order Success')?></h2>
    <p><strong><?php echo $this->__('Order Id:')?></strong> <?php echo $order->getIncrementId()?></p>
    <p><strong><?php echo $this->__('Total:')?> </strong> <?php echo Mage::app()->getStore()->formatPrice($order->getGrandTotal())?></p>
    <div class="a-center">
        <button onclick="window.open('<?php echo $this->getUrl('adminhtml/sales_order/view',array('order_id' => $order->getId()))?>')"><span>View Order</span></button>&nbsp;
        <button class="button" onclick="Pos.Order.printReceipt(<?php echo $order->getId()?>);"><span><span>Print Receipt</span></span></button>
		<button onclick="Pos.Order.refresh()"><span>Continue</span></button>
    </div>
</div>
<?php endif?>