<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">Products</h4>
    </div>
    <fieldset>
        <div id="itemsOrderedGrid">
            <div class="grid">
                <div class="hor-scroll">
                    <table width="100%" cellspacing="0" class="data" id="itemsOrderedGrid_table">
                        <colgroup>
                            <col width="40"/>
                            <col/>
                            <col width="90"/>
                            <col width="90"/>
                            <col width="100"/>
                            <col width="90"/>
                            <col width="120"/>
                            <col/>
                        </colgroup>
                        <thead>
                            <tr class="headings">
                                <th class="a-center">S/N</th>
                                <th class="a-center">Product</th>
                                <th class="a-center">Status</th>
                                <th class="a-center">Qty</th>
                                <th class="a-center">Price</th>
                                <th class="a-center">Final Price</th>
                                <th class="a-left">Promotion</th>
                            </tr>
                        </thead>
                        <tbody>
                        <?php if($this->hasItems()):?>
                            <?php $items = $this->getItems() ?>
                            <?php $i=1;foreach($items as $_item):?>
                            <tr class="<?php if($i == 1 || $i%2 !== 0):?>even<?php endif?> <?php if($this->isItemHighlight($_item)):?>highlight<?php endif?>" title="#">
                                <td class="a-center pos-strong">
                                    <?php echo $i?>
                                    <input type="hidden" class="pos-order_item_row" value="<?php echo $_item->getId()?>"/>
                                </td>
                                <td class="pos-strong">
                                    <h5 class="title"><?php echo $_item->getName()?></h5>                                   
									<div>
										<span class="pos_col_product_sku"><?php echo $this->helper('sales')->__('SKU') ?>:
										<?php echo implode('<br />', Mage::helper('catalog')->splitSku($this->escapeHtml($_item->getSku()))); ?>
										</span>
									</div>
									<?php if($_item->getMessage(false)): ?>
										<?php foreach ($_item->getMessage(false) as $message): ?>
										<div class="<?php if($_item->getHasError()): ?>error<?php else: ?>notice<?php endif; ?>">
											<div style="font-size:95%"><?php echo Mage::helper('core')->escapeHtml($message); ?></div>
										</div>
										<?php endforeach; ?>
									<?php endif; ?>
                                </td>
                                <td class="a-center pos-strong">
                                    Availble: 1
                                </td>
                                <td class="a-center nobr">
                                    <img src="<?php echo $this->getSkinUrl('gt_pos/images/decrease.gif')?>" onclick="Pos.Order.decreaseQty(<?php echo $_item->getId()?>)" class="img_qty">
                                    <input type="text" value="<?php echo $_item->getQty()*1?>" data-quote-id="<?php echo $_item->getId()?>" id="qty_<?php echo $_item->getId()?>" class="input_qty" onchange="Pos.Order.checkQtyAndUpdate(event)">
                                    <img src="<?php echo $this->getSkinUrl('gt_pos/images/increase.gif')?>" onclick="Pos.Order.increaseQty(<?php echo $_item->getId()?>)" class="img_qty">
                                </td>
                                <td class="a-center pos-strong">
                                    <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
                                        <?php endif; ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?>
                                        <?php else: ?>
                                        <?php echo $this->formatPrice($_item->getCalculationPrice()) ?>
                                        <?php endif; ?>


                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                                <?php endforeach; ?>
                                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                            <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <br />
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedAmount()+$_item->getWeeeTaxDisposition()); ?></span>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>


                                    <?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                    <?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
                                        <br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
                                        <?php endif; ?>
                                    <?php $_incl = $this->helper('checkout')->getPriceInclTax($_item); ?>
                                    <?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
                                        <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?>
                                        <?php else: ?>
                                        <?php echo $this->formatPrice($_incl-$_item->getWeeeTaxDisposition()) ?>
                                        <?php endif; ?>
                                    <?php if (Mage::helper('weee')->getApplied($_item)): ?>
                                        <br />
                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></small></span><br />
                                                <?php endforeach; ?>
                                            <?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
                                            <small>
                                                <?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
                                                <span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['amount_incl_tax'],true,true); ?></span><br />
                                                <?php endforeach; ?>
                                            </small>
                                            <?php endif; ?>

                                        <?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
                                            <span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedAmount()); ?></span>
                                            <?php endif; ?>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </td>
                                <td class="a-center pos-strong">
                                    <?php if ($this->helper('tax')->displayCartPriceExclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
										<?php $_rowTotalWithoutDiscount = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount() - $_item->getTaxAmount(); ?>
										<?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
											<span class="label"><?php echo $this->__('Excl. Tax'); ?>:</span>
										<?php endif; ?>
										<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
											<?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition())); ?>
										<?php else: ?>
											<?php echo $this->formatPrice(max(0, $_rowTotalWithoutDiscount)) ?>
										<?php endif; ?>


										<?php if (Mage::helper('weee')->getApplied($_item)): ?>
											<br />
											<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
												<small>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
												<?php endforeach; ?>
												</small>
											<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
												<?php endforeach; ?>
											<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
												<small>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
												<?php endforeach; ?>
												</small>
											<?php endif; ?>

											<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
												<br />
												<span class="nobr"><?php echo Mage::helper('weee')->__('Total'); ?>:<br /> <?php echo $this->formatPrice($_item->getCalculationPrice()+$_item->getWeeeTaxAppliedRowAmount()+$_item->getWeeeTaxRowDisposition()); ?></span>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>


									<?php if ($this->helper('tax')->displayCartPriceInclTax($this->getStore()) || $this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
										<?php if ($this->helper('tax')->displayCartBothPrices($this->getStore())): ?>
											<br /><span class="label"><?php echo $this->__('Incl. Tax'); ?>:</span>
										<?php endif; ?>
										<?php $_incl = $_item->getPriceInclTax() * $_item->getQty() - $_item->getDiscountAmount(); ?>
										<?php if (Mage::helper('weee')->typeOfDisplay($_item, array(0, 1, 4), 'sales')): ?>
											<?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?>
										<?php else: ?>
											<?php echo $this->formatPrice($_incl-$_item->getWeeeTaxRowDisposition()) ?>
										<?php endif; ?>
										<?php if (Mage::helper('weee')->getApplied($_item)): ?>
											<br />
											<?php if (Mage::helper('weee')->typeOfDisplay($_item, 1, 'sales')): ?>
												<small>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount'],true,true); ?></span><br />
												<?php endforeach; ?>
												</small>
											<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><small><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></small></span><br />
												<?php endforeach; ?>
											<?php elseif (Mage::helper('weee')->typeOfDisplay($_item, 4, 'sales')): ?>
												<small>
												<?php foreach (Mage::helper('weee')->getApplied($_item) as $tax): ?>
													<span class="nobr"><?php echo $tax['title']; ?>: <?php echo $this->formatPrice($tax['row_amount_incl_tax'],true,true); ?></span><br />
												<?php endforeach; ?>
												</small>
											<?php endif; ?>

											<?php if (Mage::helper('weee')->typeOfDisplay($_item, 2, 'sales')): ?>
												<span class="nobr"><?php echo Mage::helper('weee')->__('Total incl. tax'); ?>:<br /> <?php echo $this->formatPrice($_incl+$_item->getWeeeTaxAppliedRowAmount()); ?></span>
											<?php endif; ?>
										<?php endif; ?>
									<?php endif; ?>
                                </td>
                                <td class="">									
									<?php echo $this->getAppliedRules($_item)?>
                                </td>
                            </tr>
                            <?php $i++;?>
                            <?php endforeach ?>
                            <?php else: ?>
                        <tr>
                            <td colspan="7" class="empty-text a-center">No records found.</td>
                        </tr>
                            <?php endif ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
		<script>Pos.Core.initOrderedGrid();</script>
    </fieldset>
</div>