<?php $_order = Mage::registry('current_order');?>
<div class="receipt" style="font-size: 10px;/*width:350px;*/">
    <!--<div class="logo" style="text-align: center;">
        <img src="<?php  echo $this->getSkinUrl('images/logo.gif') ?>" alt="<?php  echo $this->getLogoAlt() ?>" />
    </div>-->
    <div class="store-info" style="text-align: center; overflow: hidden;clear:both">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
				<tr>
					<td style="text-align:center;font-weight:bold;font-size:25px;">
						Maple Tree House
					</td>
				</tr>				
				<tr>
					<td style="text-align:center;">
						Store Address here
					</td>
				</tr>
				 <tr>
					<td style="text-align:center;">
						Store Phone here
					</td>
				</tr>
				 <tr>
					<td style="text-align:center;">
						Store Email here
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<?php  echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB)?>
					</td>
				</tr>
			</tbody>
		</table>        
    </div>
    <div class="title" style="overflow: hidden; margin-bottom: 10px;">
        <table width="100%">
            <tbody>
				<tr>
					<td align="center" style="text-transform: uppercase; font-weight: bold; text-align: center; vertical-align: middle; height: 35px; padding: 20px 0px 15px; font-size: 20px;">
						Retail Receipt
					</td>
				</tr>
            </tbody>
		</table>        
    </div>
    <div class="content" style="">
        <div class="order-info" style="">
            <table width="100%">
                <tbody>
					<tr>
						<td align="left" style="text-align: left;">
							Receipt: #<?php  echo $_order['increment_id']?>
						</td>
						<td align="center" style="text-align: right;">							
							Date: <?php  echo $_order['created_at']?>
						</td>                    
					</tr>
				</tbody>
			</table>
            <table width="100%">               
                <tbody>
					<tr>                   
						<td align="right" style="text-align: left;">
							Scanner: <?php echo $_order['increment_id']?>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
        <div class="order-items" style="border-bottom: 1px dashed; ">
            <table width="100%" cellspacing="0">
				<col/>
				<col width="1"/>
				<col width="1"/>
				<col width="1"/>
				<thead>
					<tr>
						<th align="left" style="border-top:1px solid #000;border-bottom:1px solid #000;">Name</th>
						<th align="center" style="padding:2px 15px;border-top:1px solid #000;border-bottom:1px solid #000;">Qty</th>
						<th align="right" style="padding:2px 15px;border-top:1px solid #000;border-bottom:1px solid #000;">Price</th>
						<th align="right" style="border-top:1px solid #000;border-bottom:1px solid #000;">Total</th>
					</tr>
				</thead>
				<tbody>
				<?php foreach ($_order->getAllVisibleItems() as $_item): ?>					
					<tr>						
						<td align="left">
							<?php echo $_item->getName();?>
						</td>
						<td align="center" style="padding:5px 15px;">
							<?php echo $_item->getQtyOrdered()*1;?>
						</td>
						 <td align="right" style="padding:5px 15px;">
							<?php echo $_order->formatPrice($_item->getPrice());?>
						</td>
						 <td align="right">
							<?php echo $_order->formatPrice($_item->getRowTotal());?>
						</td>
					</tr>					   
				<?php  endforeach; ?>        
				</tbody>
			</table>
        </div>
        <div class="order-total">
			<?php echo $this->getChildHtml('order_totals')?>            
        </div>
        <div class="payment-method" style="margin-top: 10px;">
            <table width="100%">
				<col width="1"/>
				<col />
                <tbody>
					<tr>
						<td style="white-space:nowrap;" valign="top">Payment Method:</td>
						<td><?php echo $_order->getPayment()->getMethodInstance()->getTitle()?></td>
					</tr>										
				</tbody>
			</table>            
        </div>
        <div class="customer-info" style="margin-top: 5px;">
            <span style="text-transform: uppercase; text-decoration: underline;">Customer infomation</span>
            <table>
                <tbody>
					<tr>
						<td>Name</td>
						<td>:</td>
						<td><?php echo $_order->getCustomerName()?></td>
					</tr>
				</tbody>
			</table>
        </div>
        <div style="margin: 0 auto; width: 50%; border-top: 1px dashed; text-align: center; margin-top: 10px;">
            <table width="100%">
                <tbody><tr>
                    <td style="text-align: center;">
                        Thank you!
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        See you again!
                    </td>
                </tr>
            </tbody></table>
        </div>
    </div>
</div>
<script type="text/javascript">window.print();</script>