<?php
/*
$promotions['catalog_rules'] : all catalog rules
$promotions['cart_rules'] : all cart rules
*/
$promotions = $this->getAllPromotions();
?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">Promotions</h4>
    </div>
    <fieldset>
	<?php if ($promotions): ?>
        <div class="grid">
            <table width="100%" cellspacing="0" class="data" id="promotions" name="promotions">
                <colgroup>
                    <col width="100">
                    <col>
                </colgroup>
                <thead>
                </thead>
                <tbody>
                <tr align="center">
<!--                    <td class="promotion-title last" colspan="2">-->
<!--                        --><?php //echo $this->__('Welcome to POS')?>
<!--                    </td>-->
                </tr>               
                    <?php foreach ($promotions as $promotionType): ?>
                        <?php foreach ($promotionType as $promotion): ?>
                        <tr class="<?php echo $this->isHighlight($promotion) ? 'highlight' : ''?>">
                            <td><?php echo $promotion->getName()?></td>
                            <td class="last"><?php echo $promotion->getDescription()?></td>
                        </tr>
                            <?php endforeach; ?>
                        <?php endforeach; ?>                    
                </tbody>
            </table>
        </div>
	<?php else: ?>
		<?php echo $this->__('No promotion found')?>
	<?php endif;?>
    </fieldset>
</div>
<script>
    decorateTable('promotions');
</script>