<div class="entry-edit" >
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend">
            Shopping Bag
        </h4>
    </div>
    <fieldset id="shopping_bag">
        <center>
            <h1>
                SGD
                <span id="div_total">
                    <?php echo $this->formatPrice($this->getTotal(),false)?>
                </span>
            </h1>
            <input type="hidden" id="order_total_value" value="<?php echo $this->getTotal()?>">
        </center>		
        <p style="border-top: 1px solid #D6D6D6"></p>
        <div align="left" id="now_customer">
            <p>Customer: <?php echo $this->getCustomerName()?></p>
            <p>Group: <?php echo $this->getCustomerGroup()?></p>
            <input type="hidden" name="customer_group" id="customer_group" value="1">
        </div>		
    </fieldset>
</div>