<?php
	/**
	 * Cart total template
	*/
?>
<?php $total = $this->getTotal() ?>
<?php $codesArray = explode(',',$total->getGiftCodes()) ?>
<?php if (count($codesArray)): ?>

<?php $codesDiscountArray = explode(',',$total->getCodesDiscount()) ?>
<?php $discounts = array_combine($codesArray,$codesDiscountArray) ?>

<?php foreach($discounts as $code=>$value): ?>
<tr class="giftvoucher-total-code" style="display:none;">

	<td colspan="" style="<?php echo $total->getStyle() ?>" class="a-right">
		<?php echo Mage::helper('giftvoucher')->getHiddenCode($code) ?>
		<a href="<?php echo $this->getUrl('giftvoucher/checkout/removegift',array('code'=>$code)) ?>" title="<?php echo $this->__('Remove') ?>">
			<img src="<?php echo $this->getSkinUrl('images/btn_remove.gif') ?>" alt="<?php echo $this->__('Remove') ?>" style="margin-top:2px;" />
		</a>
	</td>
	<td style="<?php echo $total->getStyle() ?>" class="a-right">
		<?php echo $this->helper('checkout')->formatPrice(- $value) ?>
	</td>
</tr>
<?php endforeach ?>

<tr class="giftvoucher-total" onclick="toggleTotalCode()">

    <td colspan="" style="<?php echo $total->getStyle() ?>" class="a-right">
        <?php echo $total->getTitle() ?>
    </td>
    <td style="<?php echo $total->getStyle() ?>" class="a-right">
        <?php echo $this->helper('checkout')->formatPrice($total->getValue()) ?>
    </td>
</tr>
<?php endif ?>